{{!-- https://stackoverflow.com/questions/38667982/cant-get-bootstrap-table-to-resize --}}
<div class="table-responsive mt-4">
    <table class="table table-sm table-dark">
    <thead>
        <tr>
            <th scope="col" class="ws-5">#</th>
            <th scope="col" class="ws-15">Địa bàn</th>
            <th scope="col" class="ws-15">Tổng số ca <small class="text-danger">↑Hôm nay</small></th>
            <th scope="col" class="ws-15">Tử vong</th>
            <th scope="col" class="ws-15 text-center">Điều trị</th>
            <th scope="col" class="ws-15 text-center">Bình phục</th>
        </tr>
    </thead>
    <tbody>
        {{#each locations}}
        <tr>
            <th scope="row">{{increaseIndex @index}}</th>
            <td>{{name}}</td>
            <td>{{cases}} <small class="text-danger">↑{{casesToday}}</small></td>
            <td>{{death}}</td>
            <td class="text-center">{{treating}}</td>
            <td class="text-center">{{recovered}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
</div>
