<div class="chart-tab">
    <canvas id="ncovidChart" width="200" height="200"></canvas>
    <input type="hidden" id="dateCheat" value={{date}} />
    <input type="hidden" id="casesCheat" value={{cases}} />
    <input type="hidden" id="treatingCheat" value={{treating}} />
    <input type="hidden" id="recoveredCheat" value={{recovered}} />
    <input type="hidden" id="deathCheat" value={{death}} />
</div>
<script>
    var date = document.getElementById('dateCheat').value.split(',');
    var cases = document.getElementById('casesCheat').value.split(',');
    var treating = document.getElementById('treatingCheat').value.split(',');
    var recovered = document.getElementById('recoveredCheat').value.split(',');
    var death = document.getElementById('deathCheat').value.split(',');
    const ctx = document.getElementById('ncovidChart').getContext('2d');
    new Chart(ctx, {
        type: 'radar',
        data: {
            labels: date,
            datasets: [{
                label: 'Số ca',
                data: cases,
                fill: true,
                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                borderColor: 'red',
                pointBackgroundColor: 'red',
                pointBorderColor: '#fff',
                pointHoverBackgroundColor: '#fff',
                pointHoverBorderColor: 'red'
            }, {
                label: 'Đang điều trị',
                data: treating,
                fill: true,
                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                borderColor: 'blue',
                pointBackgroundColor: 'blue',
                pointBorderColor: '#fff',
                pointHoverBackgroundColor: '#fff',
                pointHoverBorderColor: 'blue'
            }, {
                label: 'bình phục',
                data: recovered,
                fill: true,
                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                borderColor: 'green',
                pointBackgroundColor: 'green',
                pointBorderColor: '#fff',
                pointHoverBackgroundColor: '#fff',
                pointHoverBorderColor: 'green'
            }, {
                label: 'Tử vong',
                data: death,
                fill: true,
                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                borderColor: 'gray',
                pointBackgroundColor: 'gray',
                pointBorderColor: '#fff',
                pointHoverBackgroundColor: '#fff',
                pointHoverBorderColor: 'gray'
            }]
        },
        options: {
            elements: {
                line: {
                    borderWidth: 3
                }
            }
        },
    });
</script>
