<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th scope="col" class="text-info">{{region}}</th>
            <th scope="col" class="text-primary text-left">Số ca nhiễm</th>
            <th scope="col" class="text-danger text-left">Tử vong</th>
            <th scope="col" class="text-success text-left">Bình phục</th>
            <th scope="col" class="text-info text-left">Cập nhật gần nhất</th>
        </tr>
    </thead>
    <tbody>
        {{#each data}}
            <tr>
                <th scope="row">{{province_name}}</th>
                <td class="text-left text-primary">
                    {{formatUnitPeople confirmed}}
                    {{#ifNotEquals increase_confirmed 0}}
                        <span class="badge badge-danger">↑{{formatUnitPeople increase_confirmed}}</span>
                    {{/ifNotEquals}}
                    {{#ifEquals increase_confirmed 0}}
                        <span class="badge badge-primary">↑0</span>
                    {{/ifEquals}}
                </td>
                <td class="text-left text-danger">
                    {{formatUnitPeople deaths}}
                    {{#ifNotEquals increase_deaths 0}}
                        <span class="badge badge-danger">↑{{formatUnitPeople increase_deaths}}</span>
                    {{/ifNotEquals}}
                    {{#ifEquals increase_deaths 0}}
                        <span class="badge badge-primary">↑0</span>
                    {{/ifEquals}}
                </td>
                <td class="text-left text-success">
                    {{formatUnitPeople recovered}}
                    {{#ifNotEquals increase_deaths 0}}
                        <span class="badge badge-success">↑{{formatUnitPeople increase_deaths}}</span>
                    {{/ifNotEquals}}
                    {{#ifEquals increase_deaths 0}}
                        <span class="badge badge-primary">↑0</span>
                    {{/ifEquals}}
                </td>
                <td class="text-left">{{formatDateHelper last_update}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>
<div class="row">
    <div class="col-md-12">
        <p class="d-flex justify-content-end">Nguồn : Bộ Y tế</p>
    </div>
</div>