<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th scope="col" class="text-info">Nước/lãnh thổ</th>
            <th scope="col" class="text-info text-center">Số ca nhiễm</th>
            <th scope="col" class="text-info text-center">Tử vong</th>
            <th scope="col" class="text-info text-center">Bình phục</th>
            <th scope="col" class="text-info text-center">Tăng lên</th>
            <th scope="col" class="text-info text-center">Cập nhật gần nhất</th>
        </tr>
    </thead>
    <tbody>
        {{#each data}}
        <tr>
            <th scope="row">{{province_name}}</th>
            <td class="text-center">{{confirmed}}</td>
            <td class="text-center">{{deaths}}</td>
            <td class="text-center">{{recovered}}</td>
            <td class="text-center">{{increase_deaths}}</td>
            <td class="text-center">{{formatDateHelper last_update}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
<div class="row">
    <div class="col-md-12">
        <p class="d-flex justify-content-end">Nguồn : Bộ Y tế</p>
    </div>
</div>